:root {
  --gutter-width: 8px;
  --cell-padding: 4px 0px;
}

.table-grid {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

/* TABLE CONTAINERS */
.js-table {
  width: calc(100% + var(--gutter-width));
  margin-left: calc(-1 * var(--gutter-width) * 0.5);
  position: relative;
}

/* END OF TABLE CONTAINERS */

/* TABLE HEADER */
.table-head .header-btn .icon {
  background-color: white;
  height: 54px;
}


.table-head.active .header-btn .icon {
  background-color: #DA4D45;
  color: white;
}

.table-head.active .header-btn .label {
  color: #DA4D45;
}


.header-btn:focus {
  outline: none;
}

.header-btn .label {
  font-family: 'GT Pressura';
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  padding: 8px 0px;
  text-align: center;
  color: #324C3D;
}

.main-column .loc-header {
  height: 100%;
  width: 100%;
}

.header-btn {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.header-btn .icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.show-btn {
  box-shadow: 0px 4px 4px 0px #0000001A;
  height: 70px;
  border: 1px solid #EFEFEF
}


.header-btn .label {
  font-size: 12px;
  line-height: 16px;
}

.table-header {
  /* position: sticky;
  top: 0;
  z-index: 10000; */
  display: flex;
  padding: 10px 3px 10px 3px;
  background-color: #EEF1EF;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 10px;
}


/* TABLE BODY */
.value-column {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.color-box {
  width: 54px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  font-family: 'GT Pressura';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 2px;
}


.table-head .triangle {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  width: 100%;
}

.table-head.active .triangle {
  visibility: visible;
}

.table-head.active.desc .triangle {
  transform: rotate(180deg);
}

.table-data,
.table-head {
  padding: 0px calc(var(--gutter-width) / 2);
}

.table-data-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #384047;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: var(--cell-padding);
}

.location-box {
  font-family: 'GT Pressura';
  width: 100%;
  height: 100%;
  font-size: 20px;
  line-height: 26px;
  color: #324C3D;
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: start;
  border-bottom: 1px solid #CBD6CE;
}

.highlighted .main-column .location-box {
  /* color: #ffffff; */
  border: none
}

.main-column {
  font-family: "GT Pressura";
}

.main-column .table-data-inner {
  justify-content: flex-start;
}


.table-row {
  width: 100%;
  display: flex !important;
}

.table-body .main-column {
  z-index: -1;
}


.table-body .main-column .table-data-inner {
  padding-left: 8px;
}

.table-grid::-webkit-scrollbar {
  margin-top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 10px;

}

.table-grid::-webkit-scrollbar-thumb {
  background-color: #324C3D;
  outline: none;
  box-shadow: none;
  height: 6px;
  width: 6px;
  border-radius: 10px;
}

.table-grid::-webkit-scrollbar-track {
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: white;
}

/* .table-grid::-moz-range-thumb {
  background-color: #DC874B;
  outline: none;
  box-shadow: none;
  width: 6px;
} */

.table-grid:focus::-moz-range-thumb {
  box-shadow: none;
}

.table-grid::-moz-range-thumb:active {
  background-color: #DC874B;
}

.table-grid::-moz-range-track {
  width: 6px;
  background-color: #F5EAE0;
}

.highlighted .main-column {
  border: 1px solid #EEF1EF;
  background: #EEF1EF;
  height: 55px !important;
}

.highlighted .main-column div {
  background: #EEF1EF;
}

.highlighted.table-row {
  border: 1px solid #EEF1EF;
  background: #EEF1EF;
  /* border-radius: 6px; */
}

/* END OF TABLE BODY */

/* 
.scroll-bar {
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
}

.scroll-bar-back {
  background: #F5EAE0;
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
} */

/* END OF SCROLL BAR */